@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif" 
}
.homePage {
	background: #222222;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #268068;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #00FFBB;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFFF;
	margin: 0px;
	float: left;
	width: 100%;
	
	text-align: center;
}
.footer {
	background: #00CC96;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}

a:link {
     color: #2E52B3;
	text-decoration: none;
}
a:visited {
     color: #2E52B3;
}
a:hover, 
a:active {
	color: #0000000
}
a:focus { 
     text-decoration:Bold;
}